body {
    background-color: #1abc9c;
}

.ns-form {
    font-family: "Roboto", "PT Sans", sans-serif;
    font-weight: 300;
}

.ns-form-section {
    width: 100%;
    max-width: 360px;
    margin: 0 auto 0 auto;
    background-color: white;
    -o-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    padding: 6px 6px 6px 6px;
    margin-top: 4px;
}

.ns-form-content {
    
}

