body {
    background-color: #1abc9c;
}

.ns-form {
    font-family: "Roboto", "PT Sans", sans-serif;
    font-weight: 300;
}

.ns-form-section {
    width: 100%;
    max-width: 368px;
    margin: 0 auto 0 auto;
    background-color: white;
    -o-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    padding: 6px 6px 6px 6px;
    margin-top: 4px;
}

.ns-input-container {
    padding: 6px 6px 6px 6px;
    
}

.ns-input-group {
    padding: 10px 0 10px 0;
    overflow: hidden;
}
.ns-submit-group {
    padding: 10px 0 10px 0;

}

/*The icon to the left of the input field*/
.ns-input-icon {
    background-color: white;
    height: 40px;
    line-height: 40px;
    border: 1px solid black;
    border-right: none;
}
/*The Input field itself*/
.ns-input-field {
    border: 1px solid black;
    border-left: none;
    padding: 0;
}
/*Force the input field to full size*/
.ns-input-field input {
    width: 100%;
    border: none;
    height: 38px;
    padding: 0;
    padding-left: 10px;
    padding-top: 2px;
    margin: none;
}
.ns-btn {
    height: 38px;
    width: 92px;
    border-radius: 0;
}

input {
    outline: none;
}
