<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.anim.css">
    <link rel="stylesheet" href="/css/style.css">

    <script src="/js/angular.js"></script>
    <script src="/js/angular-animate.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <title>Welcome <%= username %></title>
</head>
<body>

    <div class="ns-temp-nav row">
        <div align="left" class="col-xs-6">
            Welcome <%= username %>
        </div>
        <div align="right" class="col-xs-6">
                <a href="/user/<%= username %>/options"><i class="fa fa-wrench"></i> options</a>&nbsp;&nbsp;
                <a href="/logout"><i class="fa fa-sign-out"></i> logout</a>
        </div>
    </div>

    
    
    <script src="/js/jquery.js"></script>
    

    <script>
        // On document ready...
        $(function() {
            console.log('Page onReady()');
        });
    </script>

</body>
</html>