<!DOCTYPE html>
<html lang="en" ng-app="NodeScaffold">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.anim.css">
    <link rel="stylesheet" href="/css/style.stolen.css">
    <link rel="stylesheet" href="/css/style.css">

    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-animate.min.js"></script>
    <script src="/js/login_controller.js"></script>
    <title>Login!</title>
</head>
<body>
    <div class="ns-temp-nav">
    </div>
    
    <br><br><br>
    <p>
        <a href="/login">Login</a> to get started
    </p>
    
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <script>
        // On document ready...
        $(function() {
            console.log('Page onReady()');
        });
    </script>

</body>
</html>