<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <title>Login!</title>
</head>
<body>

<div class="container">
    <% messages = messages || []; %>
    <% messages.forEach(function(message) { %>
    <p><%= message %></p>
    <% });%>
    <br>

    <!--
        Inspiration for this form layout comes from 
        http://wrapbootstrap.com/preview/WB0G8810G 
    -->

    <!-- Container for the login form and its various tabs -->
    <div class="ns-form-section">
        <!-- Main section with the fields needed / buttons etc -->
        <div class="ns-form-content animated bounceIn" data-animation="bounceIn">

            <form action="/login" method="post" class="ns-form">
                <!-- Title for this form -->
                <div class="ns-section-title" align="center">
                    <h3>Login</h3>
                </div>

                <!-- Username field -->
                <div class="ns-input-container container">
                    <div class="ns-input-group row">
                        <span class="col-xs-1"><i class="fa-user fa"></i></span>
                        <div class="col-xs-11"><input type="text" required="required" placeholder="Username" name="username"/></div>
                    </div>
                    <div class="ns-input-group row">
                        <span class="col-xs-1"><i class="fa-key fa"></i></span>
                        <div class="col-xs-11"><input type="password" required="required" placeholder="Password" name="password"/></div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-submit">Login</button>
                    </div>
                </div>
            </form> 

        </div>
    </div>


    <!-- Container for the login form and its various tabs -->
    <div class="ns-form-section">
        
        <!-- New user signup -->
        <div class="animated fadeIn" data-animation="fadeIn">
            <p>Not a user? <a href="/signup">Sign up!</a></p>
        </div>
        
    </div>

    <!-- Container for the login form and its various tabs -->
    <div class="ns-form-section">
        
        <!-- New user signup -->
        <div class="animated fadeIn" data-animation="fadeIn">
            <p>Forgot your password? <a href="/resetpw">Click Here</a></p>
        </div>
        
    </div>

    
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</body>
</html>