<!DOCTYPE html>
<html lang="en" ng-app="NodeScaffold">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style.anim.css">

    <title>Login!</title>
</head>
<body>
    
    <div class="ns-temp-nav"></div>
    
    <br>
    
    <!-- Style inspired in part by: http://wrapbootstrap.com/preview/WB0G8810G  -->
    <div class="ns-container" ng-controller="LoginController">

        <div class="ns-message" ng-repeat="message in messages">
            {{ message }}
        </div>

        <!-- For login activities... -->
        <div class="ns-section">
            <div class="ns-section-header ns-anim-block" ng-show="!is_visible(STATE.LOGIN)" ng-click="switch_state(STATE.LOGIN)">
                Click here to log in instead
            </div>
            <div class="ns-section-body ns-anim-block" ng-show="is_visible(STATE.LOGIN)">

                <!-- Login form -->
                <form action="/login" method="post" class="ns-form">

                    <!-- Username -->
                    <div class="row ns-form-row">
                        <div class="col-xs-1 col-xs-offset-1 ns-input-icon"><i class="fa-user fa"></i></div>
                        <div class="col-xs-9 ns-input-field"><input class="ns-text-input" type="text" required="required" placeholder="Username" name="username"/></div>
                    </div>

                    <!-- Password -->
                    <div class="row ns-form-row">
                        <div class="col-xs-1 col-xs-offset-1 ns-input-icon"><i class="fa-key fa"></i></div>
                        <div class="col-xs-9 ns-input-field"><input class="ns-text-input" type="password" required="required" placeholder="Password" name="password"/></div>
                    </div>

                    <!-- Remember user, session persistence -->
                    <div class="row ns-form-row">
                        <div class="col-xs-offset-5 col-xs-1">
                            <input type="checkbox" value="None" id="remember_me_chkbox" name="remember_me" />
                        </div>
                        <div class="col-xs-5">
                            <label for="remember_me_chkbox">Stay logged in!</label>
                        </div>
                    </div>

                    <!-- Submit for the login -->
                    <div class="row ns-form-row">
                        <button class="btn btn-primary ns-btn col-xs-offset-1 col-xs-10" type="submit">Login</button>
                    </div>
                </form>

            </div>
        </div>

        <!-- For signup activities -->
        <div class="ns-section">
            <div class="ns-section-header ns-anim-block" ng-show="!is_visible(STATE.SIGNUP)" ng-click="switch_state(STATE.SIGNUP)">
                Click here to sign up!
            </div>
            <div class="ns-section-body ns-anim-block" ng-show="is_visible(STATE.SIGNUP)">
                <!-- Login form -->
                <form action="/signup" method="post" class="ns-form">

                    <!-- Username -->
                    <div class="row ns-form-row">
                        <div class="col-xs-1 col-xs-offset-1 ns-input-icon"><i class="fa-user fa"></i></div>
                        <div class="col-xs-9 ns-input-field"><input class="ns-text-input" type="text" required="required" placeholder="Username" name="username"/></div>
                    </div>

                    <!-- Email -->
                    <div class="row ns-form-row">
                        <div class="col-xs-1 col-xs-offset-1 ns-input-icon"><i class="fa">@</i></div>
                        <div class="col-xs-9 ns-input-field"><input class="ns-text-input" type="email" required="required" placeholder="Email" name="email"/></div>
                    </div>

                    <!-- Password -->
                    <div class="row ns-form-row">
                        <div class="col-xs-1 col-xs-offset-1 ns-input-icon"><i class="fa-key fa"></i></div>
                        <div class="col-xs-9 ns-input-field"><input class="ns-text-input" type="password" required="required" placeholder="Password" name="password"/></div>
                    </div>

                    <!-- Password Verification-->
                    <div class="row ns-form-row">
                        <div class="col-xs-1 col-xs-offset-1 ns-input-icon"><i class="fa-key fa"></i></div>
                        <div class="col-xs-9 ns-input-field"><input class="ns-text-input" type="password" required="required" placeholder="Password Verification" name="verification"/></div>
                    </div>

                    <!-- Submit for the login -->
                    <div class="row ns-form-row">
                        <button class="btn btn-success ns-btn col-xs-offset-1 col-xs-10" type="submit">Signup!</button>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <script>
        // TODO: Remove global crap being sent to the angular controller
        // This is stuff I am "passing" to my angular JS controller
        // by terribly putting them in global scope. There is probably
        // a much cleaner way to bridge the world between the data
        // EJS passes the page, and what angular sees.
        var _page_state_str = "<%= mode %>";
        var _messages       = <%- JSON.stringify( messages || [] ) %>;

    </script>

    <script src="/js/angular.js"></script>
    <script src="/js/angular-animate.js"></script>
    <script src="/js/login_controller.js"></script>
    <script>

        // On document ready...
        $(function() {
            console.log('Page onReady()');
        });
        $(".ns-text-input").on("focusin", function() {
            var target = $(this).parent().parent();
            target.css("background-color", "#eeeeee");
        });
        $(".ns-text-input").on("focusout", function() {
            var target = $(this).parent().parent();
            target.css("background-color", "transparent");
        });

    </script>

</body>
</html>