<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <title>Sign Up!</title>
</head>
<body>

<div class="container">
    <% messages = messages || []; %>
    <% messages.forEach(function(message) { %>
    <p><%= message %></p>
    <% });%>
    <br>
    <form action="/signup" method="post">
        <div>
            <label>Username:</label>
            <input type="text" name="username" placeholder=""/><br/>
        </div>
        <div>
            <label>Email:</label>
            <input type="email" name="email" placeholder=""/><br/>
        </div>
        <div>
            <label>Password:</label>
            <input type="password" name="password_0"/>
        </div>
        <div>
            <label>Password Again:</label>
            <input type="password" name="password_1"/>
        </div>
        <div>
            <input type="submit" value="Submit"/>
        </div>
    </form>
    <p>Already a user? <a href="/login">Log in</a> instead.</p>
</div>

<script src="/js/bootstrap.min.js"></script>

</body>
</html>